<h1>
  Editing: <%= @list.item %>
</h1>

<%= form_for @list do |f| %>
  <%= f.label :item %>
  <%= f.text_field :item %>
  <br />
  <%= f.label :done %>
  <%= f.check_box :done %>
  <br />
  <%= f.submit %>
<% end %>